<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SwagLabs - Selenium">
  <test thread-count="1" name="SwagLabs UI">
    <!--groups>
	    <run>
	      <include name = "loginPageTests"></include>
	      <include name = "Tests"></include>
	    </run>
    </groups-->
    <classes>
      <class name="loginPageTests.LoginPageTest"/>
      <class name="headerPageTests.HeaderPageTest"/>
      <class name="hamburgerMenuTests.HamburgerMenuTest"/>
      <class name="footerTests.FooterTest"/>
      <class name="productTests.ProductTest"/>
      <class name="productDetailsTests.ProductDetailsTest"/>
      <class name="checkoutTests.CheckoutTest"/>
      <class name="checkoutInfoTests.CheckoutInfoTest"/>
      <class name="finishPurchaseTests.FinishPurchaseTest"/>
      <class name="completeCheckoutTests.CompleteCheckoutTest"/>
      <class name="selenideTests.loginTests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
